

/* = footer.css
--------------------------------------------------- */

#footer-wrap {
	padding: 12px 0;
}
#footer {
	width: 960px;
	margin: 0 auto;
}
#footer img {
	border: 0 none;
	padding: 0;
}
#footer p {
	display: block;
	margin: 0;
	font: normal 10px/14px Georgia, serif;
	color: #fff;
}
#footer a {
	color: #fff;
	text-decoration: none;
}
#footer p.copyright {
	float: left;
}
#footer p.annotation {
	float: right;
	text-align: right;
	width: 460px;
}